<div class="prettify-flashcard">
  <div class="prettify-field prettify-field--front" style="font-family:YUMIN; font-size: 28px; text-align: center;">
    {{#Reading}}{{furigana:Reading}}{{/Reading}}{{^Reading}}{{Keyword}}{{/Reading}}
  </div>
  {{#Tags}}
  <div class="prettify-tags">{{clickable:Tags}}</div>
  {{/Tags}}
</div>

<script>
  // Function to split hierarchical tags and create breadcrumbs
  function splitHierarchy(str, className, delimiter, joinStr) {
    const elements = str.split(delimiter).filter(Boolean);
    return elements.map(element => `<span class='${className}'>${element}</span>`).join(joinStr);
  }

  // Process tags
  const tagsContainer = document.querySelector('.prettify-tags');
  if (tagsContainer) {
    const tags = tagsContainer.innerHTML.split(' ').filter(Boolean);
    tagsContainer.innerHTML = tags.map(tag => splitHierarchy(tag, 'prettify-tag', '::', '')).join(' ');
  }

  // Process breadcrumbs for current deck
  const deckElement = document.querySelector('.prettify-deck');
  if (deckElement) {
    deckElement.innerHTML = splitHierarchy(deckElement.innerHTML, 'prettify-subdeck', '::', '&nbsp;/&nbsp;');
  }
</script>
